{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Email Sent | Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Muvafaqiyatli!' %}</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>{% trans 'Elektron pochtangizga habar yubordik iltimos parolni qayta tiklab tizimga qaytadan kirishga xarakat qilib ko`ring!' %}
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>{% trans ' Tizimga kirish' %}</a>
  </div>
</div>
{% endblock content %}
