{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Parol tiklash | IT Park Zomin' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Parol tiklash bajarildi' %}</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>{% trans 'Sizning parolingiz o`zgartirildi qaytadan tizimga kirishingiz mumkin.' %}
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Tizimga kirish uchun bu yerga bosing.' %}</a>
    </div>
</div>
{% endblock content %}
