{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Yo'nalish saxifasi " %} | {% trans 'IT Park Zomin' %} {% endblock %}
{% block description %} {% trans "Foydalanuvchi taraqqiyot sahifasi" %} {% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Bosh saxifa' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Yo`nalish' %}</li>
    </ol>
</nav>

<p class="title-1"><i class="fas fa-record-vinyl"></i>{% trans 'Viktorena' %}</p>

  {% if cat_scores %}

  <div class="header-title text-center">{% trans "Savollar turkumidagi ballar" %}</div>
  <div class="title-line"></div>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Turkum" %}</th>
		<th>{% trans "To'g'ri javob" %}</th>
		<th>{% trans "Noto'g'ri" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}

  {% if exams %}

  <div class="header-title-xl">{% trans "Oldingi imtihon hujjatlari" %}</div>
  <p class="lead fw-bold">
	{% if request.user.is_superuser %}
	{% trans "O`quvchi imtihon natijalari" %}
	{% else %}
	{% trans "Quyida siz topshirgan imtihon natijalari keltirilgan" %}
	{% endif %}
  </p>
  <div class="text-light bg-secondary mb-2 p-1">{% trans 'To`liq imtihonlar soni:' %} {{ exams_counter }}</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>#</th>
		<th>{% trans "Viktorena nomi" %}</th>
		<th>{% trans "Natija" %}</th>
		<th>{% trans "Mumkin ball" %}</th>
		<th>{% trans '100% dan' %}</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ exam.quiz.title }}</td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}%</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>
</div>
  {% endif %}
  {% if not cat_scores and not exams %}
  <h4 class="text-center mt-5 py-5 text-muted">
	  <i class="fa-regular fa-folder-open me-2"></i>{% trans 'Test natijalari bu yerda paydo bo`ladi.' %}
  </h4>
  {% endif %}

{% endblock %}
