{% block content %}
{% load i18n %}

<p class="title-1">{% trans 'Ustozlar' %}</p>

<divstyle="border: 1px; border-color: black;">
  <table class="table" >
    <thead>
      <tr>
        <th>T/r</th>
        <th>{% trans 'Foydalanuvchi nomi' %}</th>
        <th>{% trans 'Ism/familiya' %}</th>
        <th>{% trans 'Elektron pochta' %}</th>
        <th>{% trans 'Mob No.' %}</th>
        <th>{% trans 'Manzil/Joylashuv' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for lecturer in lecturers %}
      <tr>
        <td> {{ forloop.counter }}.</td>
        <td>{{ lecturer.username }}</td>
        <td><a href="{% url 'profile_single' lecturer.id %}">{{ lecturer.get_full_name }}</a></td>
        <td>{{ lecturer.email }}</td>
        <td>{{ lecturer.phone }}</td>
        <td>{{ lecturer.address }}</td>
      </tr>
      {% empty %}
      <tr>
        <td>
          <span class="text-danger">
            {% trans 'Xech qanday ustoz mavjud emas.' %}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
