{% block content %}
{% load i18n %}

{% if user.is_authenticated %}
<div class="row">
  <div class="card-header">
    <table>
        <tr>
            <td>
                <img src="{{ user.picture.path }}" class="user-picture">
            </td>
            <td class="info">
                <p>{{ user.get_full_name|title }}</p>
                <p><strong>{% trans "So'ngi faollik:" %}</strong> {{ user.last_login|date }}</p>
                <p><strong>{% trans 'Tabaqa:' %}</strong> {{ user.get_user_role }}</p>
            </td>
        </tr>
    </table>
    <hr>
  </div>

  <div class="card">
    <div class="card-body">
      {% if user.is_lecturer %}
      <p class="h5">{% trans 'Mening kursim' %}</p>
      {% if courses %}
      <ul class="list-group">
        {% for course in courses %}
        <li class="list-group-item">{{ course }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="text-danger">{% trans 'Xech qanday kursga tayinlanmagan.' %}</div>
      {% endif %}
      <hr class="my-0">
      {% endif %}

      <p class="h5">{% trans "Shaxsiy ma'lumotlar" %}</p>
      <div class="dashboard-description">
        <p><strong>{% trans 'Ism:' %}</strong> {{ user.first_name|title }}</p>
        <p><strong>{% trans 'Familiya:' %}</strong> {{ user.last_name|title }}</p>
        <p><strong>{% trans 'Foydalanuvchi nomi:' %}</strong> {{ user.username }}</p>
      </div>

      {% if user.is_student %}
      <hr>
      <p class="h5">{% trans "O'quv bo'limi malumotlari" %}</p>
      <div class="dashboard-description">
        <p><strong>{% trans "O'quv markaz:" %}</strong>{% trans 'IT Park Zomin filiali' %}</p>
        <p><strong>{% trans 'Daraja:' %}</strong> {{ level.level }}</p>
      </div>
      {% endif %}

      <hr>
      <p class="h5">{% trans "Bog'lanish ma'lumotlar" %}</p>
      <div class="dashboard-description">
        <p><strong>{% trans 'Elektron pochta:' %}</strong> {{ user.email }}</p>
        <p><strong>{% trans 'Tel No.:' %}</strong> {{ user.phone }}</p>
        <p><strong>{% trans 'Manzil/joylashuv:' %}</strong> {{ user.address }}</p>
      </div>

      <hr>
      <p class="h5">{% trans "Tizim ma'lumotlari" %}</p>
      <div class="dashboard-description">
        <p><strong>{% trans "So'ngi faollik" %}</strong> {{ user.last_login }}</p>
        {% if current_semester and current_session %}
        <p><strong>{% trans "O'quv vaqti:" %}</strong> {{ current_semester }} {% trans 'Semester' %} {{ current_session }}</p>
        {% endif %}
        <p><strong>{% trans "Ro'yxatga olingan" %}</strong> {{ user.date_joined|date }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}
